In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/restructured/KPWM.csv')

In [9]:
data.tail(500)

,YEAR,MONTH,DAY,ACMH,ACSH,ADPT,ASLP,ASTP,AWBT,AWND,...,WT13,WT14,WT15,WT16,WT17,WT18,WT19,WT21,WT22,WV03
30779,2023,7,28,NaN,NaN,200.0,10122.0,10098.0,217.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30780,2023,7,29,NaN,NaN,183.0,10078.0,10058.0,194.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30781,2023,7,30,NaN,NaN,117.0,10115.0,10085.0,144.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30782,2023,7,31,NaN,NaN,144.0,10132.0,10102.0,161.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30783,2023,8,1,NaN,NaN,117.0,10186.0,10166.0,144.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31274,2024,11,27,NaN,NaN,NaN,NaN,NaN,NaN,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31275,2024,11,28,NaN,NaN,NaN,NaN,NaN,NaN,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31276,2024,11,29,NaN,NaN,NaN,NaN,NaN,NaN,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31277,2024,11,30,NaN,NaN,NaN,NaN,NaN,NaN,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31278,2024,11,31,NaN,NaN,NaN,NaN,NaN,NaN,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.columns

Index(['YEAR', 'MONTH', 'DAY', 'ACMH', 'ACSH', 'ADPT', 'ASLP', 'ASTP', 'AWBT',
       'AWND', 'FMTM', 'FRGB', 'FRGT', 'FRTH', 'GAHT', 'PGTM', 'PRCP', 'PSUN',
       'RHAV', 'RHMN', 'RHMX', 'SNOW', 'SNWD', 'TAVG', 'THIC', 'TMAX', 'TMIN',
       'TOBS', 'TSUN', 'WDF1', 'WDF2', 'WDF5', 'WDFG', 'WDFM', 'WESD', 'WSF1',
       'WSF2', 'WSF5', 'WSFG', 'WSFM', 'WT01', 'WT02', 'WT03', 'WT04', 'WT05',
       'WT06', 'WT07', 'WT08', 'WT09', 'WT11', 'WT13', 'WT14', 'WT15', 'WT16',
       'WT17', 'WT18', 'WT19', 'WT21', 'WT22', 'WV03'],
      dtype='object')

In [37]:
hourly_data = pd.read_csv('../data/processed/openweather_hourly/Portland ME_hourly_data.csv')

In [38]:
hourly_data

,Year,Month,Day,Time,Temperature (F),Feels Like (F),Temp Min (F),Temp Max (F),Pressure,Humidity,Wind Speed,Wind Deg,Wind Gust,Clouds All,Weather Description
0,2023,11,17,04:00:00,39.79,39.79,27.21,47.80,1025,84,1.99,359,4.00,0,clear sky
1,2023,11,17,05:00:00,40.60,38.55,27.21,48.79,1025,60,3.44,290,NaN,0,clear sky
2,2023,11,17,06:00:00,39.60,37.90,27.21,48.79,1024,90,3.00,359,5.99,0,clear sky
3,2023,11,17,07:00:00,38.37,36.01,27.21,48.79,1023,92,3.44,290,NaN,100,fog
4,2023,11,17,08:00:00,38.70,38.70,27.21,49.80,1023,91,0.00,0,NaN,100,fog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2023,11,23,23:00:00,40.14,37.47,35.82,42.82,1008,68,4.00,308,8.01,76,broken clouds
164,2023,11,24,00:00:00,37.62,37.62,32.81,41.81,1008,72,1.99,313,4.00,63,broken clouds
165,2023,11,24,01:00:00,35.11,35.11,31.03,39.20,1008,71,1.99,284,5.01,11,few clouds
166,2023,11,24,02:00:00,35.01,32.72,29.95,39.94,1010,72,3.00,359,8.99,7,clear sky
167,2023,11,24,03:00:00,34.68,29.43,28.96,39.94,1011,75,5.99,359,11.99,8,clear sky

In [29]:
import pandas as pd
import numpy as np

# Combine Year, Month, and Day into a single column for datetime conversion (no need for 'Time')

hourly_data['Datetime'] = pd.to_datetime(hourly_data[['Year', 'Month', 'Day']].astype(str).agg('-'.join, axis=1) + ' ' + hourly_data['Time'])

# Filter the hourly data for the date range from 2023-11-29 to the last available date
start_date = pd.to_datetime('2023-11-30')
end_date = hourly_data['Datetime'].max()  # Last available date in the dataset
filtered_hourly_data = hourly_data[(hourly_data['Datetime'] >= start_date) & (hourly_data['Datetime'] <= end_date)]

# Resample the hourly data to daily aggregates
daily_data = filtered_hourly_data.resample('D', on='Datetime').agg({
    'Temperature (F)': 'mean',  # Average temperature
    'Feels Like (F)': 'mean',
    'Temp Min (F)': 'min',  # Minimum temperature of the day
    'Temp Max (F)': 'max',  # Maximum temperature of the day
    'Pressure': 'mean',  # Average pressure
    'Humidity': 'mean',  # Average humidity
    'Wind Speed': 'mean',  # Average wind speed
    'Wind Deg': 'mean',  # Average wind direction
    'Wind Gust': 'max',  # Maximum wind gust
    'Clouds All': 'mean',  # Average cloud coverage
    'Weather Description': lambda x: x.mode()[0]  # Most frequent weather description
}).reset_index()

# Extract YEAR, MONTH, and DAY columns from 'Datetime' in daily_data
daily_data['YEAR'] = daily_data['Datetime'].dt.year
daily_data['MONTH'] = daily_data['Datetime'].dt.month
daily_data['DAY'] = daily_data['Datetime'].dt.day

# Merge the data with the daily aggregated data based on YEAR, MONTH, and DAY
merged_data = pd.merge(data, daily_data[['YEAR', 'MONTH', 'DAY', 'Temperature (F)', 'Feels Like (F)', 
                                          'Temp Min (F)', 'Temp Max (F)', 'Pressure', 'Humidity', 'Wind Speed',
                                          'Wind Deg', 'Wind Gust', 'Clouds All', 'Weather Description']], 
                       on=['YEAR', 'MONTH', 'DAY'], how='left')

# Check if there are any missing values (NaNs) in the merged dataset
print(merged_data.isna().sum())  # Check for missing data after merging

# Fill missing data by forward filling (or using another method such as backward fill, mean, etc.)
merged_data.fillna(method='ffill', inplace=True)  # Forward fill missing values

# Optionally, save the filled data to a new CSV
merged_data.to_csv('merged_filled_data.csv', index=False)

print("Missing data has been filled and saved to 'merged_filled_data.csv'.")

YEAR                       0
MONTH                      0
DAY                        0
ACMH                   20274
ACSH                   20274
                       ...
Wind Speed             31279
Wind Deg               31279
Wind Gust              31279
Clouds All             31279
Weather Description    31279
Length: 71, dtype: int64

/var/folders/p_/wj4jvr5929x__hfp1fb3gy400000gs/T/ipykernel_14976/3212949380.py:43: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  merged_data.fillna(method='ffill', inplace=True)  # Forward fill missing values
/var/folders/p_/wj4jvr5929x__hfp1fb3gy400000gs/T/ipykernel_14976/3212949380.py:43: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_data.fillna(method='ffill', inplace=True)  # Forward fill missing values

Missing data has been filled and saved to 'merged_filled_data.csv'.

In [30]:
hourly_data

,Year,Month,Day,Time,Temperature (F),Feels Like (F),Temp Min (F),Temp Max (F),Pressure,Humidity,Wind Speed,Wind Deg,Wind Gust,Clouds All,Weather Description,Datetime
0,2023,11,17,04:00:00,39.79,39.79,27.21,47.80,1025,84,1.99,359,4.00,0,clear sky,2023-11-17 04:00:00
1,2023,11,17,05:00:00,40.60,38.55,27.21,48.79,1025,60,3.44,290,NaN,0,clear sky,2023-11-17 05:00:00
2,2023,11,17,06:00:00,39.60,37.90,27.21,48.79,1024,90,3.00,359,5.99,0,clear sky,2023-11-17 06:00:00
3,2023,11,17,07:00:00,38.37,36.01,27.21,48.79,1023,92,3.44,290,NaN,100,fog,2023-11-17 07:00:00
4,2023,11,17,08:00:00,38.70,38.70,27.21,49.80,1023,91,0.00,0,NaN,100,fog,2023-11-17 08:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2023,11,23,23:00:00,40.14,37.47,35.82,42.82,1008,68,4.00,308,8.01,76,broken clouds,2023-11-23 23:00:00
164,2023,11,24,00:00:00,37.62,37.62,32.81,41.81,1008,72,1.99,313,4.00,63,broken clouds,2023-11-24 00:00:00
165,2023,11,24,01:00:00,35.11,35.11,31.03,39.20,1008,71,1.99,284,5.01,11,few clouds,2023-11-24 01:00:00
166,2023,11,24,02:00:00,35.01,32.72,29.95,39.94,1010,72,3.00,359,8.99,7,clear sky,2023-11-24 02:00:00
167,2023,11,24,03:00:00,34.68,29.43,28.96,39.94,1011,75,5.99,359,11.99,8,clear sky,2023-11-24 03:00:00

In [35]:

hourly_data['Datetime'] = pd.to_datetime(hourly_data[['Year', 'Month', 'Day']].astype(str).agg('-'.join, axis=1) + ' ' + hourly_data['Time'])
start_date = pd.to_datetime('2023-11-29').normalize()  # Normalize to start of the day
end_date = hourly_data['Datetime'].max().normalize() # Last available date in the dataset
filtered_hourly_data = hourly_data[(hourly_data['Datetime'] >= start_date) & (hourly_data['Datetime'] <= end_date)]

In [36]:
print(hourly_data['Datetime'].head())  # Check the first few rows of the 'Datetime' column
print(hourly_data['Datetime'].min())   # Check the minimum value
print(hourly_data['Datetime'].max())   # Check the maximum value

0   2023-11-17 04:00:00
1   2023-11-17 05:00:00
2   2023-11-17 06:00:00
3   2023-11-17 07:00:00
4   2023-11-17 08:00:00
Name: Datetime, dtype: datetime64[ns]
2023-11-17 04:00:00
2023-11-24 03:00:00